
html {
	box-sizing: border-box;
}
body {
	margin: 0;
}
img {
    max-width: 100%;
    vertical-align: middle;
    padding: 0px;
}



.header{
    width: 100%;
    position: relative;
}


select {
    color: goldenrod;
    background-color: transparent;
    border-color: gold;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 14px;
}

.btn-navbar1,.btn-navbar2,.btn-navbar3,.btn-navbar4  {

    font-size: 1em;
    justify-content: space-between;
    border-radius: 3cm;
    background-color:gold;
    color: white;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;

}

.btn-navbar1:hover,.btn-navbar2:hover,.btn-navbar3:hover,.btn-navbar4:hover{
    background-color: rgb(12, 12, 85);}


fieldset{
    color: goldenrod;
    margin-top: 2cm;


}
.navbar{
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.subtop {
    color: gold;
}
.hotitems{margin-bottom: 10px;}

.sb{align-content: center;}

  .sb input[type=text] {
    float: inline-start;
    display: block;
    text-align: left;
    width: 100%;
   margin-top: 20px;
    padding: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  font-size: 15px;
  border-radius: 20px;
  border: 3px solid #ccc;
  width: 70%;
  border-color: gold;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2cm;
  }

fieldset {
    border: 0;
    padding: 10px;
    line-height: 0;
    display: inline-table;

}

select {
    display: flex;
    position: relative;
    font-size: 15px;
    line-height: 1.3;
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    border-radius: .5em;
    padding: 0.5em 0.5em;
    background-color: #fff;
    background-repeat: no-repeat, repeat;
    justify-content: space-between;
    margin: 0em;
}


.logo {
        width: 4in;
        display: block;
        margin: 0 auto;
}

        
.topnav a{color: gold;font-size: 17px;}
.topnav:hover{border-radius: 3px;
            font-size: 17px;
            background-color:rgb(12, 12, 85);}
.topnav {
    position: absolute;
    right: 10px;
    top: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
}


body{
    background-color:white;
    color: rgb(37, 37, 37);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
    

.material-icons {
    color:#333333;
    font-weight: normal;
    font-style: normal;
    font-size: 38px;
    display: inline-block;
    text-transform: none;
    letter-spacing: 1rem;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    margin-top: 1.5cm;
} 
.material-icons:hover{
    color: gold;
}

.story1 {
    vertical-align: middle;
    padding-bottom: 20px;
    padding-top: 20px;
}
.story2 {
    vertical-align: middle;
    padding-bottom: 20px;
    padding-top: 20px;
}.story3 {
    vertical-align: middle;
    padding-bottom: 20px;
    padding-top: 20px;
}.story4 {
    vertical-align: middle;
    padding-bottom: 20px;
    padding-top: 20px;
}
.story5 {
    vertical-align: middle;
    padding-bottom: 20px;
    padding-top: 20px;
}
.story6 {
    vertical-align: middle;
    padding-bottom: 20px;
    padding-top: 20px;
}
.story7 {
    vertical-align: middle;
    padding-bottom: 20px;
    padding-top: 20px;
}
.story8 {
    vertical-align: middle;
    padding-bottom: 20px;
    padding-top: 20px;
}
.story9{
    vertical-align: middle;
    padding-bottom: 20px;
    padding-top: 20px;
}


.stories {

    display: flex;
    padding: 0 8px;
    
}


.btn-addtocart {
    font-size: 1em;
    display: inline-block;
    border-radius: 1cm;
    background-color: rgb(236, 235, 230);
    color: white;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.btn-addtocart:hover{
    background-color: gold;
}
.size{
    display:flex;
    list-style: none;
    margin:1em;
    font-size: 15pt;
    padding-left: 0;
    max-width: 100%;
    justify-content: center;
    border-radius: 3px;
}



.seemore {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    font-size: 6mm;
    color: grey;
}


footer a{color: #333333;
    align-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 9px;
    text-align: center;}
    


    @media screen and (min-width: 0px) and (max-width:599px) /*phone*/ 
    {
        .stories {
            float: left;
            display: flex;
            align-items: stretch;
            text-align: center;
            flex-wrap: wrap;
            justify-content: space-around;
            flex-basis: calc(25%); 
        }
        .subtop{
            display: flex;
            padding-top: 2px;
            padding-bottom:2px;}

        .sb{font-size: 10px;
            display: flex;}

        }
        img.responsive { width: 150px; }
        img.responsive { height: 250px; }


    @media screen and (min-width: 600px) /*web*/ 
    {
        .stories {
            width: 100%;
            display: flex;
            align-items: stretch;
            text-align: center;
            flex-wrap: wrap;
            justify-content: space-between;
            font-size: 20px;
            flex-basis: calc(33.3333%);
        }
        img.responsive { width: 400px; }
        img.responsive { height: 550px; }
    }
